body {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.outerApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20px;
  width:70vw;
  margin: 2.5em auto;
  background-color: ghostwhite;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.App .itemList h2 strong {
  text-decoration: underline;
}

.addItem {
  /*border: 5px solid rgb(0, 0, 0);*/
  width: 40%;
  padding: 0.5em;
  margin-bottom: 2em;
}

.itemList {
  /*border: 5px solid rgb(50, 27, 100);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  padding:2em 2em 0 2em;
}

.itemList ul {
  padding:0;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .App {
    width:90vw;
    margin:1em auto;
    flex-direction: column;
  }

  .itemList {
    padding: 0;
  }

  .addItem {
    width:100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .App {
    width: 90vw;
    margin: 1em auto;
    flex-direction: column;
  }

  .addItem {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) and (max-width:1299px) {
  .App {
      width: 80vw;
      margin: 1em auto;
      flex-direction: column;
    }

  .addItem {
    width: 80%;
  }
}

@media only screen and (min-width: 1300px) and (max-width:2100px) {
  .App {
    width:95%;
    margin: 1em auto;
  }

  .itemList {
    padding:0;
    width:50%;
  }
}

