.subjectCardListItem {
   list-style: none;
   background-color: #212529;
   /*color:rgba(255,255,255,.55);*/
   padding:2em;
   margin:1em 0;
   

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.imageCard {
   background-color: rgba(255,255,255,1);
   border-radius: 5px;
   max-height: auto;
   
   grid-column: 1 / 3;
   grid-row: 1 / 3;

}

.imageCard img {
   object-fit: cover;
   opacity: 0.75;
   min-width:100%;
   min-height: 100%;
   border-radius: 5px;
}

.infoCard {
   background-color: #40C9A2;
   z-index: 10;
   padding:2em;
   border-radius: 5px;
   min-height: auto;
   
   grid-column: 2 / 4;
   grid-row: 2 / 4;
}

.truncateOverview {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 7;
   /* number of lines to show */
   line-clamp: 7;
   -webkit-box-orient: vertical;
}